body {
    font-family: 'Roboto', sans-serif;
    background-color: #FAFAFA;
}

strong {
    font-weight: bold;
}
.TopBar {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    height: 54px;
    border-bottom: solid 1px #DBDBDB;
    background-color: white;
}

ion-icon {
    font-size: 24px;
}

.CaixaIconeNome {
    display: flex;
    align-items: center;
}

.BarrinhaVertical {
    width: 1px;
    height: 24px;
    background-color: #DBDBDB;
    margin-left: 10px;
    margin-right: 10px;
}

.SearchBar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 215px;
    height: 30px;
    background-color: #FAFAFA;
    border: solid 1px #DBDBDB;
    border-radius: 5px;
}

.SearchBar p {
    color: #979797;
}

.PainelDeControle {
    display: flex;
    justify-content: space-between;
    width: 150px;
}

.BotoesTopBar {
    display: flex;
    justify-content: space-between;
    width: 935px;
}

.PaginaRolante {
    width: 615px;
    margin: 60px auto;
}

.Post {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border: solid 1px #DBDBDB;
}

.Post > div {
    box-sizing: border-box;
    width: 100%;
    padding: 12px;
}

.Post h3, h4 {
    font-size: 14px;
}

.PostTopBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PostTopBar div {
    display: flex;
    align-items: center;
}

.PostTopBar img {
    margin-right: 17px;
    width: 32px;
}

.PostBottomIcons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 10px;
}

.PostBottomIcons div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
    height: 18px;
}

.PostStats {
    display: flex;
    align-items: center;
    width: 100%;
}

.PostStats img {
    width: 20px;
    margin-right: 5px;
}

